*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
     max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid #46A35880;
}

.menu {
    display: flex;
    gap: 50px;
}

.main-title{
    font-family: Cera Pro;
font-weight: 900;
font-size: 70px;
line-height: 70px;
letter-spacing: 0%;
text-transform: uppercase;

}

.hero {
    background-color: #F5F5F580;
    margin-top: 12px;
    padding: 40px;
}

.wrapper, .image {
display: inline-block;
max-width: 557px;

}

.wrapper {
    vertical-align: top;
    margin-top: 50px;
    padding: 40px;
}

.image {
    text-align: right;
}